section {
  padding-bottom: 0;
}
section + section {
  padding-top: 0;
}
.block-span {
  display: block;
}
.block-span + *,
* + .block-span {
  margin-top: 0.5rem;
}
.marginnote figure {
  margin: 0;
  max-width: 100%;
}
.lqip {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0;
}
